<%- include("../partials/admin/header.ejs") %>
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Dashboard </h2>
        </div>
       
    </div>
</section>
<%- include("../partials/admin/footer.ejs") %>
